---
import { Image } from 'astro:assets';
import picture from '../images/dancing.jpg';
const { 
    title = "About us", 
    subtitle = "The best subtitle ever",	
    text = "lorem ipsum\n\nlorem ipsum\n\nlorem ipsum\n\nlorem ipsum",
 } = Astro.props;
const [firstPart, secondPart, thirdPart, fourthPart] = text.split(/\n\n|\n/);
---
<main class="relative isolate">
	<!-- Background -->
	<div class="absolute inset-x-0 top-4 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl" aria-hidden="true">
    	<div class="aspect-[1108/632] w-[69.25rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  	</div>

	<!-- Header section -->
	<div class="px-6 pt-14 lg:px-8">
		<div class="mx-auto max-w-2xl pt-12 text-center sm:pt-20">
			<h2 class="text-4xl font-bold tracking-tight sm:text-6xl font-serif text-neutral-900">{ title }</h2>
			<p class="mt-6 text-lg leading-8 font-mono text-neutral-700">{ subtitle }</p>
		</div>
	</div>

	<!-- Content section -->
	<div class="mx-auto mt-20 max-w-7xl px-6 lg:px-8 mb-10">
		<div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
			<div class="grid max-w-xl grid-cols-1 gap-8 text-base leading-7 lg:max-w-none lg:grid-cols-2 text-neutral-500">
				<div>
					<p>{ firstPart }</p>
					<p class="mt-8">{ secondPart }</p>
				</div>
				<div>
					<p>{ thirdPart }</p>
					<p class="mt-8">{ fourthPart }</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Image section -->
	{
		picture && <div class="sm:pb-20 xl:mx-auto xl:max-w-7xl xl:px-8">
			<Image src={picture} alt="Ivan & Sara dancing" class="aspect-[9/4] w-full object-cover xl:rounded-3xl" />			
		</div>
	}


</main>
