<div class="container mx-auto">
    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
    <div class="elfsight-app-d5cd0fba-53a2-4dd2-a2ec-a6f3054557aa" data-elfsight-app-lazy></div>
</div>