<html lang="en" class="light">	
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
		<link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"/>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css"/>
		<link rel="stylesheet" >
		<meta name="robots" content="noindex, nofollow">
		<title>Tango without limits - FeralTango</title>
	</head>
	<body class="bg-base-50 dark:bg-base-800">
        <slot />
		<script is:inline src="../../node_modules/preline/dist/preline.js"></script>
	</body>
</html>
